body{
    background-color: #0f121f;
    /* Can use relative path as image is in same directory as styles.css */
    background-image: url(stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}