{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aconcan</title>
    <link rel='stylesheet' href='{% static "styles.css" %}'>
    <link rel='icon' href="{% static 'icon.png' %}">

    <!-- href="https://i.dlpng.com/static/png/6434620_preview.png" -->
</head>

<body>
    <div class='wrapper'>
        <!-- Logo will link to the list URL -->
        <header><a href="{% url 'home' %}"><img width = 110px src="{% static 'icon.png' %}"/></a>
            <nav>
                <ul>
                    <li><a href='{% url "home" %}'>home</a></li>
                    <li><a href='{% url "articles:list" %}'>guestbook</a></li>
                    <li><a href='{% url "work" %}'>work</a></li>
                    <li><a href='{% url "about" %}'>about</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <!-- When user clicks submit, a POST request will be sent to logout_view -->
                            <form class='logout-link' action='{% url "accounts:logout" %}' method='post'>
                                {% csrf_token %}
                                <button type='submit'>Logout</button>
                            </form>
                        </li>
                        <li><a href='{% url "articles:create" %}' class='highlight'>New article</a></li>
                    {% else %}
                        <li><a href='{% url "accounts:login" %}'>login</a></li>
                        <li><a href='{% url "accounts:signup" %}'>sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <!-- Individual template content will go here -->
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>